<app-menu></app-menu>
<section *ngIf="loggedUser" class="heading">
  <span class="page-title front weight-bold font-italic">[{{ title }}]</span>
  <span *ngIf="loggedUser.admin == true">
    <a routerLink="/user/create"
      ><img
        width="20"
        height="20"
        src="assets/add-icon.png"
        title="Add New User" /></a
  ></span>
</section>
<table *ngIf="users" class="table table-sm table-hover table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Reviewer</th>
      <th>Admin</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <span *ngIf="user.reviewer == true" class="badge badge-primary">
          Reviewer
        </span>
      </td>
      <td>
        <span *ngIf="user.admin == true" class="badge badge-success">
          Admin&nbsp;
        </span>
      </td>
      <td>
        <a routerLink="/user/detail/{{ user.id }}">
          <img
            width="20"
            height="20"
            src="assets/details.png"
            title="User Details"
        /></a>
        &nbsp;
        <a routerLink="/user/edit/{{ user.id }}">
          <img
            width="20"
            height="20"
            src="assets/pencil-icon.png"
            title="Edit User"
        /></a>
      </td>
    </tr>
  </tbody>
</table>
