<app-menu></app-menu>
<span class="component-title">[{{ title }}]</span>
<span> | <a routerLink="/user/list">Return to User List</a></span>
<p *ngIf="!user">Loading...</p>
<div *ngIf="user">
  <main class="single">
    <table class="table table-sm">
      <tr>
        <td>First Name:</td>
        <td>
          <input
            [(ngModel)]="user.firstName"
            class="rounded"
            type="text"
            style="background-color: azure;"
          />
        </td>
      </tr>
      <tr>
        <td>
          Last Name:
        </td>
        <td>
          <input
            [(ngModel)]="user.lastName"
            class="rounded"
            type="text"
            style="background-color: azure;"
          />
        </td>
      </tr>
      <tr>
        <td>
          User Name:
        </td>
        <td>
          <input
            [(ngModel)]="user.userName"
            class="rounded"
            type="text"
            style="background-color: azure;"
          />
        </td>
      </tr>
      <tr>
        <td>
          Password:
        </td>
        <td>
          <input
            [(ngModel)]="user.password"
            class="rounded"
            type="text"
            style="background-color: azure;"
          />
        </td>
      </tr>
      <tr>
        <td>
          Phone Number:
        </td>
        <td>
          <input
            [(ngModel)]="user.phoneNumber"
            class="rounded"
            type="text"
            maxlength="12"
            style="background-color: azure;"
          />
        </td>
      </tr>
      <tr>
        <td>
          Email:
        </td>
        <td>
          <input
            [(ngModel)]="user.email"
            class="rounded"
            type="text"
            style="background-color: azure;"
          />
        </td>
      </tr>
      <tr>
        <td>
          Reviewer Status:
        </td>
        <td *ngIf="user.admin">
          <label class="switch">
            <input [(ngModel)]="user.reviewer" type="checkbox" />
            <span class="slider round"></span>
          </label>
        </td>
        <td *ngIf="!user.admin">Not Admin</td>
      </tr>
      <tr>
        <td>
          Admin Status:
        </td>
        <td *ngIf="user.admin">
          <label class="switch">
            <input [(ngModel)]="user.admin" type="checkbox" />
            <span class="slider round"></span>
          </label>
        </td>
        <td *ngIf="!user.admin">Not Reviewer</td>
      </tr>
    </table>
  </main>
  <span
    *ngIf="
      user.firstName &&
      user.lastName &&
      user.userName &&
      user.password &&
      user.phoneNumber &&
      user.email
    "
    ><button (click)="save()" class="btn btn-sm btn-primary">
      Save
    </button></span
  >
  <!-- <span
    ><button (click)="backClicked()" class="btn btn-sm btn-primary">
      Back
    </button></span
  > -->
</div>
