<div *ngIf="request" class="component">
  <section class="heading">
    <span class="page-title front weight-bold font-italic">{{ title }}</span>
    <span> | <a routerLink="/request/list">Return to List</a></span>
  </section>
  <main class="single">
    <table class="table table-sm">
      <!-- this value should be assigned by the current logged in user
      do not display this field -->
      <tr>
        <td>User ID:</td>
        <td>
          <input [(ngModel)]="request.user.id" class="rounded" type="text" />
        </td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>
          <input
            [(ngModel)]="request.description"
            class="rounded"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>Justification:</td>
        <td>
          <input
            [(ngModel)]="request.justification"
            class="rounded"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>Date Needed:</td>
        <td>
          <!-- drop down calender -->
          <input [(ngModel)]="request.dateNeeded" class="rounded" type="text" />
        </td>
      </tr>
      <tr>
        <td>Delivery Mode:</td>
        <td>
          <select>
            <option value="none" disabled selected="selected">
              Select an Option</option
            >
            <option value="Delivery">Delivery</option>
            <option value="Pick-up">Pick-up</option>
          </select>
        </td>
      </tr>
    </table>
  </main>
  <span
    ><button (click)="save()" class="btn btn-sm btn-primary">
      <!-- {{ submitBtnTitle }} -->
      Create Request
    </button>
  </span>
</div>
