<app-menu></app-menu>
<section class="heading">
  <span class="page-title front weight-bold font-italic">[{{ title }}]</span>
  <a routerLink="/request/create"
    ><img
      width="20"
      height="20"
      src="assets/add-icon.png"
      title="Add New Request"
  /></a>
</section>
<table
  *ngIf="requests && loggedUser"
  class="table table-sm table-hover table-striped"
>
  <thead>
    <tr>
      <th>User</th>
      <th>Submitted Date</th>
      <th>Date Needed</th>
      <th>Total</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngIf="requests">
    <tr *ngFor="let request of requests">
      <td>{{ request.user.firstName }}&nbsp;{{ request.user.lastName }}</td>
      <td>{{ request.submittedDate }}</td>
      <td>{{ request.dateNeeded }}</td>
      <td>${{ request.total }}</td>
      <td *ngIf="request.status == 'New'">
        <span class="badge badge-pill badge-warning">{{ request.status }}</span>
      </td>
      <td *ngIf="request.status == 'Review'">
        <span class="badge badge-pill badge-primary">{{ request.status }}</span>
      </td>
      <td *ngIf="request.status == 'Approved'">
        <span class="badge badge-pill badge-success">{{ request.status }}</span>
      </td>
      <td *ngIf="request.status == 'Rejected'">
        <span class="badge badge-pill badge-danger">{{ request.status }}</span>
      </td>
      <td>
        <span>
          <a routerLink="/request/detail/{{ request.id }}">
            <img
              width="20"
              height="20"
              src="assets/details.png"
              title="Request Details"
          /></a>
        </span>
        &nbsp;
        <span
          *ngIf="loggedUser.id == request.user.id || loggedUser.admin == true"
        >
          <a routerLink="/request/edit/{{ request.id }}">
            <img
              width="20"
              height="20"
              src="assets/pencil-icon.png"
              title="Edit Request"
          /></a>
        </span>
        &nbsp;
        <span *ngIf="loggedUser.id == request.user.id">
          <a routerLink="/request/lines/{{ request.id }}">
            <img
              width="20"
              height="20"
              src="assets/lines.png"
              title="Request Lines"
          /></a>
        </span>
      </td>
    </tr>
  </tbody>
</table>
