<app-menu></app-menu>
<section class="heading">
  <span class="page-title front weight-bold font-italic">[{{ title }}]</span>
  <a routerLink="/request/create"
    ><img
      width="20"
      height="20"
      src="assets/add-icon.png"
      title="Add New Request"
  /></a>
</section>
<table *ngIf="requests" class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Submitted Date</th>
      <th>User</th>
      <th>Description</th>
      <th>Date Needed</th>
      <th>Status</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngIf="requests">
    <tr *ngFor="let request of requests">
      <td>{{ request.submittedDate }}</td>
      <td>{{ request.user.firstName }}{{ request.user.lastName }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.dateNeeded }}</td>
      <td>{{ request.status }}</td>
      <td>${{ request.total }}</td>
      <td>
        <a routerLink="/request/detail/{{ request.id }}">
          <img
            width="20"
            height="20"
            src="assets/details.png"
            title="Request Details"
        /></a>
        <a routerLink="/request/edit/{{ request.id }}">
          <img
            width="20"
            height="20"
            src="assets/pencil-icon.png"
            title="Edit Request"
        /></a>
        <a routerLink="/request/lines/{{ request.id }}">
          <img
            width="20"
            height="20"
            src="assets/lines.png"
            title="Request Lines"
        /></a>
      </td>
    </tr>
  </tbody>
</table>
