<app-menu></app-menu>
<div class="component" *ngIf="request">
  <section class="heading">
    <span class="page-title font-weight-bold font-italic">{{ title }}</span>
    <span> | <a routerLink="/request/list">Return to list</a></span>
  </section>
  <main class="single">
    <tr *ngIf="loggedUser.id == request.user.id || loggedUser.admin == true">
      <td>User:</td>
      <td>
        <select
          [(ngModel)]="request.user"
          class="rounded"
          [compareWith]="compUser"
          required
        >
          <option *ngFor="let user of users" [ngValue]="user"
            >{{ user.firstName }} {{ user.lastName }}</option
          >
        </select>
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td *ngIf="loggedUser.id == request.user.id">
        <input
          [(ngModel)]="request.description"
          class="rounded"
          type="text"
          style="background-color: azure;"
          required
        />&nbsp;
        <span *ngIf="!request.description"
          ><img src="assets/required.png" width="25"
        /></span>
        <span *ngIf="request.description"
          ><img src="assets/check.png" width="25"
        /></span>
      </td>
    </tr>
    <tr>
      <td>Justification:</td>
      <td *ngIf="loggedUser.id == request.user.id">
        <input
          [(ngModel)]="request.justification"
          class="rounded"
          type="text"
          style="background-color: azure;"
          required
        />&nbsp;
        <span *ngIf="!request.justification"
          ><img src="assets/required.png" width="25"
        /></span>
        <span *ngIf="request.justification"
          ><img src="assets/check.png" width="25"
        /></span>
      </td>
    </tr>
    <tr>
      <td>Date Needed:</td>
      <td *ngIf="loggedUser.id == request.user.id">
        <input
          [(ngModel)]="request.dateNeeded"
          class="rounded"
          type="date"
          style="background-color: azure;"
          required
        /><span *ngIf="!request.dateNeeded"
          ><img src="assets/required.png" width="25"
        /></span>
        <span *ngIf="request.dateNeeded"
          ><img src="assets/check.png" width="25"
        /></span>
      </td>
    </tr>
    <tr>
      <td>Delivery Method:</td>
      <span
        *ngIf="loggedUser.id == request.user.id || loggedUser.reviewer == true"
      >
        <select [(ngModel)]="request.deliveryMode" class="rounded" required>
          <option value="Delivery">Delivery</option>
          <option value="In Store Pick-up">In Store Pick-up</option>
        </select>
        <span *ngIf="!request.deliveryMode"
          ><img src="assets/required.png" width="25"
        /></span>
        <span *ngIf="request.deliveryMode"
          ><img src="assets/check.png" width="25"
        /></span>
      </span>
    </tr>
  </main>
  <span
    *ngIf="
      request.description &&
      request.justification &&
      request.dateNeeded &&
      request.deliveryMode &&
      (loggedUser.id == request.user.id || loggedUser.admin == true)
    "
  >
    <button (click)="save()" class="btn btn-sm btn-primary">
      Edit Request
    </button>
  </span>
</div>
