<app-menu></app-menu>
<div *ngIf="lineItem" class="component">
  <section class="heading">
    <span class="page-title front weight-bold font-italic">{{ title }}</span>
    <span> | <a routerLink="/request/lines">Return to List</a></span>
  </section>
  <main class="single">
    <table class="table table-sm">
      <tr>
        <td>Product:</td>
        <td>
          <select
            [(ngModel)]="lineItem.product"
            class="rounded"
            type="text"
            [compareWith]="compProduct"
          >
            <option value="none" disabled selected="selected">
              Select an Option
            </option>
            <option *ngFor="let product of products" [ngValue]="product"
              >${{ product.price }} - {{ product.name }} |
              {{ product.vendor.name }}</option
            ></select
          >
        </td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td>
          <input
            [(ngModel)]="lineItem.quantity"
            class="rounded"
            min="0"
            type="number"
          />
        </td>
      </tr>
    </table>
  </main>
  <span>
    <span> <a (click)="add()" class="btn btn-sm btn-warning">Add Item</a></span>
  </span>
</div>
